
# Local .terraform files
.terraform/
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Terraform variable overrides
terraform.tfvars
*.tfvars

# Local .plan files
*.plan

# Sensitive output
*.secret
